.profile-container {
  width: 70%;
  margin: 10px auto;
}
.profile-avatar {
  width: 150px;
  border-radius: 50%;
}
.profile-container > ul {
  list-style: none;
  padding: 0px;
  text-align: left;
}
.profile-container > ul > li {
  display: flex;
  justify-content: space-between;
}
